@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

.h-90 {
  height: 90%;
}

.h-85 {
  height: 85%;
}

.h-10 {
  height: 10%;
}

.h-6 {
  height: 6%;
}

.h-30 {
  height: 30%;
}

.card-border {
  border-left-width: 10px;
}

.h-72vh {
  height: 72vh;
}

.h-26p5 {
  height: 26.5rem;
}

th {
  background-color: #ffffff;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.scrollable-table-container {
  height: 400px;
  overflow-y: scroll;
  display: block;
}

a:link {
  text-decoration: none;
  color: blue;
}

a:visited {
  text-decoration: none;
  color: purple;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 11;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}